@model Carrito_de_compras.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductosNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductosNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductosPrecio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductosPrecio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductosStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductosStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.CategoriaNombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductosId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
