@model IEnumerable<Carrito_de_compras.Models.Factura>

@{
    ViewData["Title"] = "Index";
}

<h1>Factura</h1>
<br />
<p>
    <a asp-action="Create" class="btn btn-primary">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FacturaFecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacturaDescripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacturaFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacturaDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ClienteApellido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FacturaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FacturaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FacturaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
