@model Carrito_de_compras.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonaFechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonaFechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class="col-sm-10">
            <img src="@("~/image/"+Model.ImageName)" asp-append-version="true" width="250px" height="250px"/>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClienteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
